<h1>New Roster</h1>

<div class="container">

  <div ng-app="app">
    <div ng-controller="playerCtrl" ng-init="setup()">

      <p>{{activeTeamList}}</p>

      <!-- QUARTERBACK SELECTION -->
      <div data-ng-repeat="rosteredPlayer in rosteredQBs">
        <label>QB: </label>
        <select data-ng-options="player.name disable when isDisabled(player, rosteredPlayer, rosteredQBs) for player in QBs" data-ng-model="rosteredQBs[$index]"></select>
      </div>
      <p>{{rosteredQBs}}</p>

      <!-- RUNNINGBACK SELECTION -->
      <div data-ng-repeat="rosteredPlayer in rosteredRBs">
        <label>RB: </label>
        <select data-ng-options="player.name disable when isDisabled(player, rosteredPlayer, rosteredRBs) for player in RBs" data-ng-model="rosteredRBs[$index]"></select>
      </div>
      <p>{{rosteredRBs}}</p>

      <!-- WIDERECEIVER SELECTION -->
      <div data-ng-repeat="rosteredPlayer in rosteredWRs">
        <label>WR: </label>
        <select data-ng-options="player.name disable when isDisabled(player, rosteredPlayer, rosteredWRs) for player in WRs" data-ng-model="rosteredWRs[$index]"></select>
      </div>
      <p>{{rosteredWRs}}</p>

    </div>
  </div>

  <div class="form">

    <%=form_tag '/rosters', method: :post do %>

      <div class="input-group">
        <%=label_tag :team_name %>
        <%=text_field_tag :team_name, nil, class: "form-control" %>
      </div>

      <div class="input-group">
        <%=label_tag "QB 1: " %>
        <%= collection_select :qb_1, :qb_1_id, Player.where(position: "QB"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "QB 2: " %>
        <%= collection_select :qb_2, :qb_2_id, Player.where(position: "QB"), :id, :name_and_team,  {prompt: "Please Select"}, {:onchange => "alert('hello')" } %>
      </div>

      <div class="input-group">
        <%=label_tag "RB 1: " %>
        <%= collection_select :rb_1, :rb_1_id, Player.where(position: "RB"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "RB 2: " %>
        <%= collection_select :rb_2, :rb_2_id, Player.where(position: "RB"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "RB 3: " %>
        <%= collection_select :rb_3, :rb_3_id, Player.where(position: "RB"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "WR 1: " %>
        <%= collection_select :wr_1, :wr_1_id, Player.where(position: "WR"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "WR 2: " %>
        <%= collection_select :wr_2, :wr_2_id, Player.where(position: "WR"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "WR 3: " %>
        <%= collection_select :wr_3, :wr_3_id, Player.where(position: "WR"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "TE: " %>
        <%= collection_select :te_1, :te_1_id, Player.where(position: "TE"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "K 1: " %>
        <%= collection_select :k_1, :k_1_id, Player.where(position: "K"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "K 1: " %>
        <%= collection_select :k_2, :k_2_id, Player.where(position: "K"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "Defense: " %>
        <%= collection_select :d_1, :d_1_id, Player.where(position: "D"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>

      <div class="input-group">
        <%=label_tag "Flex: " %>
        <%= collection_select :flex_1, :flex_1_id, Player.where("position = ? OR position = ?", "RB", "WR"), :id, :name_and_team,  prompt: "Please Select" %>
      </div>
  
      <div>
        <%= submit_tag "Send", class: "btn btn-default" %>
      </div>

    <% end %>

  </div>

</div>