<h1> All Players </h1>

<table class="table">
  <tr>
      <th>NAME</th>
      <th>TEAM</th>
      <th>POSITION</th>
      <th>WEEK 1</th>
      <th>WEEK 2</th>
      <th>WEEK 3</th>
      <th>WEEK 4</th>
    </tr>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %>
        <% if user_signed_in? && current_user.admin %>
          <%= link_to "edit", "/players/#{player.id}/edit" %>
          <% end %></td>
        <td><%= player.team %></td>
        <td><%= player.position %></td>
        <td><%= player.week_1_score %></td>
        <td><%= player.week_2_score %></td>
        <td><%= player.week_3_score %></td>
        <td><%= player.week_4_score %></td>
    <% end %>
    </tr>
  </table>