<h1>New Player</h1>

<div class="container">

  <div class="form">

    <%=form_tag '/players', method: :post do %>

      <div class="input-group">
        <%=label_tag :name %>
        <%=text_field_tag :name, nil, class: "form-control" %>
      </div>

      <div class="input-group">
        <%=label_tag :team %>
        <%=text_field_tag :team, nil, class: "form-control" %>
      </div>

      <div class="input-group">
        <%=label_tag :position %>
        <%=text_field_tag :position, nil, class: "form-control" %>
      </div>

      <div>
        <%= submit_tag "Send", class: "btn btn-default" %>
      </div>

    <% end %>

  </div>

</div>