<h1>New Player</h1>

<div class="container">

  <div class="form">

    <%=form_tag '/players', method: :post do %>

      <div class="input-group">
        <%=label_tag :name %>
        <%=text_field_tag :name, nil, class: "form-control" %>
      </div>

      <div class="input-group">
        <%=label_tag :team %>
        <%= select_tag(:team, options_for_select(['ARI', 'CAR', 'CIN', 'DEN', 'GB', 'KC', 'PIT'], selected: @player.team), :prompt => "Select NFL Team", class: "form-control") %>
      </div>

      <div class="input-group">
        <%=label_tag :position %>
        <%= select_tag(:position, options_for_select(['QB', 'RB', 'WR', 'TE', 'K', 'D'], selected: @player.team), :prompt => "Select Player Position", class: "form-control") %>
      </div>

      <div>
        <%= submit_tag "Send", class: "btn btn-default" %>
      </div>

    <% end %>

  </div>

</div>